@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-md-12">
    Link lấy lại mật khẩu đã được gửi vào email của bạn.
    <hr />
</div>
<div class="col-md-12 text-center">
    <p>
        Đã có tài khoản? @Html.ActionLink("Đăng nhập", "Login")
    </p>
</div>

