@{
    ViewBag.Title = "Đổi mật khẩu thành công";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-md-12">
    Đổi mật khẩu thành công.
    <hr />
</div>
<div class="col-md-12 text-center">
    <p>
        Đã có tài khoản? @Html.ActionLink("Đăng nhập", "Login")
    </p>
</div>
